
.App {
    display: flex;
    flex-direction: column;
}

.img-preview {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tile-container {
    margin-top: 10px;
}

.thumbnail {
    .euiCard__content {
        margin-top: 0px; // !important;
    }
    img {
        min-width: 250px;
        min-height: 135px;
    }
}

.no-preview {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 100px;
    color: greenyellow;
}

// new styles

.euiPage {
    padding: 0px;
}

.euiPageBody {
    margin-top: 45px;
}

.thumbnail-container {
    margin-top: 20px;
    &.in-preview {
        overflow: hidden;
    }
}

.no-data-container {
    width: 100%;
    margin: 100px auto 100px auto;
}

.euiModal--maxWidth-default {
    max-width: 100%;
}

.euiButtonEmpty {
    display: none;
}

.selected-card {
    border-color: lightgreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-container {
    min-height: 500px;
    .euiLoadingSpinner {
        margin-top: 240px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.inline-block {
    display: inline-block;
}

.euiTabs {
    button {
        text-decoration: none !important;
    }
}
.euiTab__content {
    img {
        margin-right: 5px;
    }
}


#image-viewer {
    position: fixed;
    top: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 9999;
    color: white;

    .image-title {
        padding: 10px 40px 0px 10px;
        .tag {
            min-width: 75px;
        }
    }

    .icon {
        position: absolute;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    .close {
        top: 0px;
        right: 0px;
    }
    .left {
        bottom: 0px;
        left: 0px;
    }
    .right {
        bottom: 0px;
        right: 0px;
    }
    .page-info {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        text-align: center;
        margin-bottom: 20px;
    }
    .image-content {
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        padding: 10px;
        max-width: 100%;
    }
    .no-preview {
        max-width: 500px;
        max-height: 50px;
    }
}